body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 120px;
}

.card {
    border-radius: 15px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
}

li {
    margin-top: 10px;
    cursor: pointer;
}

.completada {
    text-decoration: line-through;
    color: gray;
    background-color: #e9ecef;
}