body { 
    font-family: Arial;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
}

input {
    padding: 10px;
}

button{
    padding: 10px;
    background-color: rgb(16, 158, 16);
    color: white;
}

li {
    margin: 10px;
    cursor: pointer;
}